<header class="fixed w-full top-0 z-10 bg-white pb-4 px-10 pt-8 shadow-md rounded-b-3xl">
    <div class="flex justify-between items-center">
        <button>
            <img src="../../../assets/icons/menu.svg" alt="menu icon">
        </button>

        <h1 class="text-primary">{{title}}</h1>

        <button mat-raised-button matBadge="5" matBadgeSize="medium" matBadgeColor="primary">
            <img class="size-7" src="../../../assets/icons/notification.svg" alt="notification icon">
        </button>

    </div>
</header>