<li class="w-full border-1 border-secondary p-4 rounded-md flex justify-between items-center">
    <div class="flex gap-4 h-10">
        <div class="px-2 bg-secondary/30 rounded-md flex items-center">
            <img src="../assets/icons/space-dashboard.svg" alt="space-dashboard">
        </div>


        <div class="flex flex-col gap-1">
            <p>UI Design</p>
            <p>
                <span class="text-xs font-medium text-slate-500">09:00 AM</span>
                -
                <span class="text-xs font-medium text-slate-500">11:00 AM</span>
            </p>
        </div>
    </div>


    <button class="rounded-full p-2 hover:bg-secondary/40 transition-all">
        <img src="../assets/icons/arrow-right.svg" alt="arrow-right">
    </button>
</li>