<main class="px-10 pt-28 tracking-wider">
    <form [formGroup]="registerForm">

        <mat-form-field class="w-full form-field text-primary">
            <mat-label>Task Name</mat-label>
            <input matInput formControlName="title" name="title" required maxlength="50">
            <mat-error [ngStyle]="{'color':'red'}" *ngIf="!registerForm.value.title">This field is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full form-field">
            <mat-label>Date & Time</mat-label>
            <input matInput [matDatepicker]="dp" formControlName="dateTime" name="dateTime" required>
            <mat-error [ngStyle]="{'color':'red'}" *ngIf="!registerForm.value.dateTime">This field is mandatory</mat-error>
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker color="primary" #dp></mat-datepicker>
        </mat-form-field>

        <div class="flex gap-10">
            <mat-form-field>
                <mat-label>Start time</mat-label>
                <mat-select formControlName="startTime">
                    @for (item of selectArrayTime; track $index) {
                    <mat-option [value]="item">{{item}}</mat-option>
                    }
                </mat-select>
                <mat-error [ngStyle]="{'color':'red'}" *ngIf="!registerForm.value.startTime">This field is mandatory</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>End time</mat-label>
                <mat-select formControlName="endTime">
                    @for (item of selectArrayTime; track $index) {
                    <mat-option [value]="item">{{item}}</mat-option>
                    }
                </mat-select>
                <mat-error [ngStyle]="{'color':'red'}" *ngIf="!registerForm.value.endTime">This field is mandatory</mat-error>
            </mat-form-field>
        </div>


        <mat-form-field class="w-full">
            <mat-label>Description</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="10"
                cdkAutosizeMaxRows="5" formControlName="description" name="description"></textarea>
        </mat-form-field>

        <button type="submit"
            class="w-full mt-40 bg-primary/90 text-white p-4 rounded-md text-base hover:tracking-widest hover:bg-primary transition-all"
            (click)="handleSubmit()" (keydown.enter)="handleSubmit()">
            Save Task
        </button>

    </form>
</main>