<main class="sm:px-10 max-sm:px-5 pt-5 pb-8 tracking-wider container overflow-y-auto">
    <form [formGroup]="registerForm" (submit)="handleSubmit()">

        <mat-form-field class="w-full form-field text-primary">
            <mat-label>Task Name</mat-label>
            <input matInput formControlName="title" name="title" required maxlength="50">
            <mat-error [ngStyle]="{'color':'red'}" *ngIf="!registerForm.value.title">This field is mandatory</mat-error>
        </mat-form-field>

        <mat-form-field class="w-full form-field">
            <mat-label>Date & Time</mat-label>
            <input matInput [matDatepicker]="dp" formControlName="dateTime" name="dateTime" required>
            <mat-error [ngStyle]="{'color':'red'}" *ngIf="!registerForm.value.dateTime">This field is
                mandatory</mat-error>
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker color="primary" #dp></mat-datepicker>
        </mat-form-field>

        <div class="flex gap-10">
            <mat-form-field>
                <mat-label>Start time</mat-label>
                <mat-select formControlName="startTime">
                    @for (item of selectArrayTime; track $index) {
                    <mat-option [value]="item">{{item}}</mat-option>
                    }
                </mat-select>
                <mat-error [ngStyle]="{'color':'red'}" *ngIf="!registerForm.value.startTime">This field is
                    mandatory</mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>End time</mat-label>
                <mat-select formControlName="endTime">
                    @for (item of selectArrayTime; track $index) {
                    <mat-option [value]="item">{{item}}</mat-option>
                    }
                </mat-select>
                <mat-error [ngStyle]="{'color':'red'}" *ngIf="!registerForm.value.endTime">This field is
                    mandatory</mat-error>
            </mat-form-field>
        </div>


        <mat-form-field class="w-full">
            <mat-label>Description</mat-label>
            <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="4"
                cdkAutosizeMaxRows="10" formControlName="description" name="description"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" class="w-full rounded-md !text-base !py-5 !font-normal"
            (click)="handleSubmit()" (keydown.enter)="handleSubmit()">
            Save Task
        </button>

    </form>
</main>