<div class="flex flex-col gap-4 w-full h-40 progress-summary rounded-md text-white p-6">
    <p>Today's progress summary</p>
    <p class="text-xs"><span class="mr-2">{{todoLength}}</span>Tasks</p>
    <div>
        <div class="flex justify-between">

            <div class="relative w-3/4">
                <img src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250"
                    class="border-2 border-white size-10 rounded-full absolute left-0">
                <img src="https://i.pravatar.cc/250?u=mail@ashallendesign.co.uk"
                    class="border-2 border-white size-10 rounded-full absolute left-6">
                <img src="https://placebeard.it/250/250"
                    class="border-2 border-white size-10 rounded-full absolute left-12">

                <button class="bg-white size-10 rounded-full absolute left-[72px]">
                    <mat-icon class="text-black text-2xl" aria-hidden="false" aria-label="add icon"
                        fontIcon="add"></mat-icon>
                </button>
            </div>

            <div class="flex flex-col gap-1">
                <p class="flex gap-20">
                    <span>Progress</span>
                    <span>50%</span>
                </p>
                <mat-progress-bar color="primary" class="rounded-md" mode="determinate" value="50"></mat-progress-bar>
            </div>
        </div>
    </div>
</div>