<header class="px-10 pt-10 shadow-md rounded-b-3xl">
  <div class="flex justify-between items-baseline">
    <button>
      <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="menu"
        class="font-medium text-[28px] text-primary"></mat-icon>
    </button>

    <h1 class="text-primary font-bold">Homepage</h1>

    <button>
      <mat-icon aria-hidden="false" aria-label="notification icon" fontIcon="notifications_outline"
        class="font-medium text-xl text-primary"></mat-icon>
    </button>

  </div>
</header>


<main class="py-4 px-10 tracking-wider">
  <div class="w-full h-40 progress-summary rounded-md text-white p-6">
    <p>Today's progress summary</p>
    <p class="text-xs"><span class="mr-2">15</span>Tasks</p>
  </div>

  <div>
    <div class="flex items-center justify-between my-5">
      <p class="font-medium text-base text-primary">Today's Task</p>
      <p class="text-xs text-slate-400 font-medium">See All</p>
    </div>

  </div>
</main>

<footer
  class="relative px-16 py-5 rounded-t-3xl shadow-[rgba(0,0,0,0.1)_0_-4px_6px_-1px] rgba(0,0,0,0.1)_0_-2px_4px_-2px">

  <button class="absolute -top-6 right-[45%]">
    <img src="../assets/icons/add.svg" />
  </button>

  <div class="flex justify-between items-center">
    <div class="flex items-center gap-16">
      <button>
        <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"
          class="font-medium text-[26px] text-primary"></mat-icon>
      </button>
      <button>
        <mat-icon aria-hidden="false" aria-label="calendar icon" fontIcon="calendar_month"
          class="font-medium text-[26px] text-primary"></mat-icon>
      </button>
    </div>
    <div class="flex items-center gap-16">
      <button>
        <mat-icon aria-hidden="false" aria-label="chat icon" fontIcon="chat_bubble"
          class="font-medium text-[26px] text-primary"></mat-icon>
      </button>
      <button>
        <mat-icon aria-hidden="false" aria-label="person icon" fontIcon="person"
          class="font-medium text-[26px] text-primary"></mat-icon>
      </button>
    </div>
  </div>
</footer>