<main class="pt-28 px-10 tracking-wider">
    <div class="flex flex-col gap-4 w-full h-40 progress-summary rounded-md text-white p-6">
        <p>Today's progress summary</p>
        <p class="text-xs"><span class="mr-2">15</span>Tasks</p>
        <div>
            <div></div>

            <div>
                <p>
                    <span>Progress</span>
                    <span>50%</span>
                </p>
            </div>
        </div>
    </div>

    <div>
        <div class="flex items-center justify-between my-5">
            <p class="font-medium text-base text-primary">Today's Task</p>
            <button class="text-xs text-slate-400 font-medium">See All</button>
        </div>

        <ul class="task-list-home">
            <app-task-item></app-task-item>
            <app-task-item></app-task-item>
            <app-task-item></app-task-item>
            <app-task-item></app-task-item>
            <app-task-item></app-task-item>
            <app-task-item></app-task-item>
            <app-task-item></app-task-item>
            <app-task-item></app-task-item>
            <app-task-item></app-task-item>
            <app-task-item></app-task-item>
        </ul>

    </div>
</main>


<app-footer></app-footer>