<main class="sm:px-10 max-sm:px-5 tracking-wider flex flex-col gap-5 pt-5 pb-8">
    <mat-card class="w-full !shadow-md !shadow-primary/50">
        <div class="flex items-center max-sm:p-3 p-5 gap-4">
            <mat-card-header class="text-primary !p-0">
                <mat-card-title>Title:</mat-card-title>
            </mat-card-header>
            <mat-card-content class="!p-0">
                <p class="text-base">{{todoItem.title}}</p>
            </mat-card-content>
        </div>
    </mat-card>

    <mat-card class="w-full !shadow-md !shadow-primary/50">
        <div class="flex items-center max-sm:p-3 p-5 gap-3">
            <mat-card-header class="text-primary !p-0">
                <mat-card-title class="max-sm:!text-lg">Date & Time:</mat-card-title>
            </mat-card-header>
            <mat-card-content class="!p-0">
                <h4></h4>
                <p class=" text-base">{{todoItem.dateTime}}</p>
            </mat-card-content>
        </div>
    </mat-card>

    <div class="flex sm:gap-8 max-sm:gap-4 justify-between">
        <mat-card class="w-full !shadow-md !shadow-primary/50">
            <div class="flex items-center max-sm:p-3 p-5 max-sm:gap-3 gap-5">
                <mat-card-header class="text-primary !p-0">
                    <mat-card-title class="max-sm:!text-base">Start Time:</mat-card-title>
                </mat-card-header>
                <mat-card-content class="!p-0">
                    <p class="sm:text-base max-sm:text-sm">{{todoItem.startTime}}</p>
                </mat-card-content>
            </div>
        </mat-card>

        <mat-card class="w-full !shadow-md !shadow-primary/50">
            <div class="flex items-center max-sm:p-3 p-5 max-sm:gap-3 gap-5">
                <mat-card-header class="text-primary !p-0">
                    <mat-card-title class="max-sm:!text-base">End Time:</mat-card-title>
                </mat-card-header>
                <mat-card-content class="!p-0">
                    <p class="sm:text-base max-sm:text-sm">{{todoItem.endTime}}</p>
                </mat-card-content>
            </div>
        </mat-card>
    </div>

    <mat-card class="w-full !shadow-md !shadow-primary/50">
        <mat-card-header class="text-primary">
            <mat-card-title>Description</mat-card-title>
        </mat-card-header>
        <mat-card-content class="h-32 overflow-y-scroll mr-1 mb-1">
            <p class="text-base">{{todoItem.description}}</p>
        </mat-card-content>
    </mat-card>

    <div class="flex flex-col gap-4">
        <button mat-raised-button color="warn" class="w-full !p-5 rounded-md !text-base !font-normal"
            (click)="handleRemoveItem(todoItem.id)">
            Remove
        </button>
        <a mat-raised-button color="primary" routerLink="/edit-todo/{{todoItem.id}}"
            class="w-full text-center !p-5 rounded-md !text-base !font-normal">
            Edit
        </a>
    </div>
</main>